.App {
  text-align: center;  
}

.App-header {
  background-color: #364652;
  display: flex;
  padding: 15px 0 15px 0;
}

.App-header .search-bar {
  width: 100%;
}

.search-bar input {
  width: 50%;
  height: 30px;
  font-size: 18px;
  font-style: italic;
  border: 0;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  padding-left: 5px;
  border-radius: 3px;
  outline: none;
  background-color: #f6f7f6;
}

.container {
  background-color: #FFFFFF;
}

.infinite-scroll-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-container {
  margin: 10px;
  border: 1px solid #c6c4c6;
  flex-grow: 1;
  align-self: flex-start;
  cursor: pointer;
}

.item-container:hover {
  opacity: 0.7;  
}

.item-container .image {
  background-color: #f4f7fc;
}

.item-container .title {
  max-width: 250px;
  text-align: left;
  padding-left: 20px;
}

.item-container img {
  cursor: pointer;
}

.book-page {
  padding: 30px 0 50px 0;
  border-radius: 25px;
  background-color: #FCFCFC;
  border: 1px solid #c6c4c6;
  margin: 0 auto 20px auto;
  width: 60%;
}

.book-page div.description {
  padding: 25px;
  text-align: left;
  font-size: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 12%;
}


