.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 18px;
  color: #5c5b5c;
}

.App-header {
  background-color: #FFC300;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.infinite-scroll-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-container {
  padding: 20px 30px 20px 30px;
  border-radius: 25px;
  border: 1px solid #c6c4c6;
  background-color: #FCFCFC;
  margin: 10px;
}

.item-container .title {
  max-width: 250px;
  cursor: pointer;
}

.item-container img {
  cursor: pointer;
}

.book-page {
  padding: 30px 0 50px 0;
  border-radius: 25px;
  background-color: #FCFCFC;
  border: 1px solid #c6c4c6;
  margin: 0 auto 20px auto;
  width: 60%;
}

.book-page div.description {
  padding: 25px;
  text-align: left;
  font-size: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 12%;
}

.container {
  background-color: #FFFFFF;
  margin-left: 50px;
  margin-right: auto;
}